
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<title>曼奇立德</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/jquery.raty.js"></script>  


<link rel="stylesheet" href="css/font-awesome.css"/>
<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/common.css"/>
<link rel="stylesheet" href="css/pagination.css"  />
<link rel="stylesheet"   href="css/login.css">
</head>
<body>
	<div class="common-div" >
		<div>
			<div class="page-header" id="toolbar">
				<h1>
					Configuration
				</h1>
				
			</div>
		</div>
		<div>
			<div  id="config"  v-cloak> 
			<div>
			<div align="right">
				<span class="glyphicon glyphicon-cloud-upload signal" title="upload"   aria-hidden="true"></span>
			 </div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Sources</th>
							<th>Output</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) in records" :class="index==selectedRecord.id?'info':''" @dblclick="update(item)" >
						<th scope="row">{{item.id}}</th>
						
						<td>{{item.sources}}</td>
						<td>{{item.output}}</td>
					</tr>

					</tbody>
				</table>
				</div>
			
			<div class="modal fade" id="selectedRecord" tabindex="-1" role="dialog" >
				<div class="modal-dialog" style="width:900px;">
					<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
								<h4 class="modal-title" id="pswModalLabel">Information</h3>
							</div>
							<div class="modal-body"  style="height:600px; overflow:auto;">
								<form>
									<table  class="table">

										<tr>
										
										 <td style="border-top:none"> 
											<field   labelname="Source File A">
												<input class="form-control" v-model="selectedRecord.sources[0]"/>
											</field>
										</td> <td style="border-top:none"> 
											<field   labelname="Source File B">
												<input class="form-control" v-model="selectedRecord.sources[1]"/>
											</field>
										</td> <td style="border-top:none"> 
											<field   labelname="Output File C">
												<input class="form-control" v-model="selectedRecord.output"/>
											</field>
										</td>
									</tr>

										<tr v-for="(item,index) in selectedRecord.columns">
									
											 <td width="300px" style="border-top:none"> 
												<field   labelname="Column">
													<input class="form-control" v-model="item.column"/>
													</field>
											</td> <td width="300px" style="border-top:none"> 
												<field   labelname="Value">
													<input class="form-control" v-model="item.value"/>
													</field>
											</td> <td width="300px" style="border-top:none"> 
												<field   labelname="Rules">
													<input class="form-control" v-model="item.rules"/>
												</field>
											</td>
										</tr>
										
										
										
										</table>
								
								
								</form>
								
							</div>
							<div class="modal-footer" style="text-align:center"><button type="button" class="btn btn-primary form-btn" 
								@click="save">Save</button></div>
			</div>
		</div>
	</div>
</div>
</div>
		</div>

	</div>
</body>
<script type="text/javascript" src="js/common-components.js"></script>
<script type="text/javascript" src="js/config.js"></script>
</html>