<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<title>Hackthon 2022 - PXO Knight</title>

<head>

	<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/jquery.raty.js"></script>


	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap-select.css" />

	<style>
		td {
			border-top: none !important;
		}
	</style>

</head>

<body>

	<div>

		<div>
			<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #092e5d;">
				<div class="navbar-header">
					<a style="color: white;
					font-family: fangsong;
					font-size: 30px;
					font-weight: bold;
					margin-left: 10px;">PXO Knight</a>
				</div>
			</nav>
		</div>

		<div style="margin: 100px 20px 0px 20px;">
			<div>
				<div>
					<div class="page-header" style="text-align: center;">
						<h1>
							Data Transform Tool
						</h1>

					</div>
				</div>
				<div>
					<div id="config" v-cloak>
						<div>
							<div align="right">
								<span class="glyphicon glyphicon-cloud-upload signal" title="upload"
									style="font-size:30px;cursor: pointer;"></span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Configuration Name</th>
										<th>Output</th>
										<th>Sources</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in records" :class="index==selectedRecord.id?'info':''"
										@dblclick="update(item)" @click="selectedRecord=item">
										<td style="width: 25%;">{{item.configName}}</td>
										<td style="width: 25%;"> {{item.output}}</td>
										<td style="width: 50%;">{{item.sources.join()}}</td>
									</tr>

								</tbody>
							</table>
						</div>

						<div class="modal fade" id="selectedRecord" tabindex="-1" role="dialog">
							<div class="modal-dialog" style="width:900px;">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">&times;</button>
										<h4 class="modal-title">Configuration</h3>
									</div>
									<div class="modal-body" style="height:600px; overflow:auto;">
										<form>
											<table class="table" width="600px">

												<tr v-for="(item,index) in selectedRecord.sources">

													<td style="width: 25%;">
														<label v-if="index==0">Output File</label>
														<input v-if="index==0" class="form-control"
															v-model="selectedRecord.output" />
													</td>
													<td style="width: 15%;">
														<span class="glyphicon glyphicon-arrow-left"
															style="font-size:20px;top: 35px;left: 50px;"></span>
													</td>
													<td style="border-top:none; width:300px;">
														<label>Source File {{String.fromCharCode(index+65)}}</label>
														<input class="form-control" v-model="item" />

													</td>


												</tr>

											</table>
											<hr>
											<table class="table">
												<tr style="font-weight: bold;">
													<td>Output Column</td>
													<td></td>
													<td>Input Value</td>
													<td>Rules</td>
												</tr>
												<tr v-for="(item,index) in selectedRecord.columns">

													<td style="width: 25%;">
														<input class="form-control" v-model="item.column" />
													</td>
													<td style="width: 15%;">
														
													</td>
													<td style="width: 25%;">
														<input class="form-control" v-model="item.value" />
													</td>
													<td >

														<select class="form-control" aria-label="Default select example"
															>
															<option v-for="(option,index) in rules" :value="item"
																:selected="item.rules.indexOf(option)!=-1">
																{{option}}
															</option>
														</select>
													</td>
												</tr>



											</table>


										</form>

									</div>
									<div class="modal-footer" style="text-align:center"><button type="button"
											class="btn btn-primary form-btn" @click="save">Save</button></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<script type="text/javascript" src="js/common-components.js"></script>
<script type="text/javascript" src="js/config.js"></script>

</html>